<a href="https://colab.research.google.com/github/igorkokin1995/homeworks/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BA_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8_%C2%AB%D0%98%D1%81%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B8_%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D0%BE%D1%88%D0%B8%D0%B1%D0%BE%D0%BA%C2%BB_%D0%9A%D0%BE%D0%BA%D0%B8%D0%BD_DAU_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
* The Moscow Times - Wednesday, October 2, 2002
* The Guardian - Friday, 11.10.13
* Daily News - Thursday, 18 August 1977

In [ ]:
M_time = 'Wednesday, October 2, 2002'
Guardian = 'Friday, 11.10.13'
D_news = 'Thursday, 18 August 1977'

In [ ]:
from datetime import datetime

M_dt = datetime.strptime(M_time, '%A, %B %d, %Y')
M_dt

datetime.datetime(2002, 10, 2, 0, 0)

In [ ]:
G_dt = datetime.strptime(Guardian, '%A, %m.%d.%y')
G_dt

datetime.datetime(2013, 11, 10, 0, 0)

In [ ]:
D_dt = datetime.strptime(D_news, '%A, %d %B %Y')
D_dt

datetime.datetime(1977, 8, 18, 0, 0)

###Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [ ]:
def date_correct(date_stream):
  for date in date_stream:
    try:
      d_t = datetime.strptime(date, '%Y-%m-%d')
      print(f'{date} - {True}')
    except:
      print(f'{date} - {False}')

date_correct(stream)

2018-04-02 - True
2018-02-29 - False
2018-19-02 - False

###Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import timedelta

In [ ]:
def date_range():
  try:
    start_date = datetime.strptime(input('Введите начальную дату: '), '%Y-%m-%d')
    end_date = datetime.strptime(input('Введите конечную дату: '), '%Y-%m-%d')
    date_list = []
    date = start_date

    while date < end_date:
      date_list.append(date.strftime('%Y-%m-%d'))
      date += timedelta(days = 1)
    
    return(date_list)
  except:
    date_list = []
    return(date_list)

In [ ]:
date_range()

Введите начальную дату: fdhfd

[]

###Задание 4 (необязательное)

list index out of range - Данная ошибка означает, что индекс, к которому обращаются не входит в перечень индексов из списка.

Функция отрабатывает корректно в первый раз, т.к. в списке элементы с индексами 0, 1, 2. В блоке return
```
(default_list[DEFAULT_USER_COUNT-2])
```
возвращается элемент с индексом 1, что совпало по ответу с выполнением функции (после выполнение в ней остались жлемдексом 0 и 1).
На следующей итерации в функции останется только элемент с индексом 0, а return говорит, что нужно вернуть элемент с индексом 1, поэтому возникает ошибка
```
list index out of range
```